# Database (PSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=odin
DB_PASSWORD=odin
DB_DIALECT=postgres
DB_NAME=odin

# MS-DEPLOYMENT ACCESS 
MS_DEPLOYMENT_ACTIVATED=False
MTLS_MS_DEPLOYMENT_PORT=31002
UNSAFE_MS_DEPLOYMENT_ADRESS=localhost
UNSAFE_MS_DEPLOYMENT_METHOD=http
UNSAFE_MS_DEPLOYMENT_PORT=10002
MS_DEPLOYMENT_BASE_URL=crrs.cloud

# GENERAL APP
APP_PORT=10001
APP_ADRESS=localhost
TZ=Europe/Paris
JWT_KEYPASS=YOJUSTTRYINGSOMETHINGTOKNOWIFITWORKS
ENVIRONMENT=local
EXPIRATION_HOURS=6

# SWAGGER CONFIGURATION
SWAGGER_URL=localhost:10001
SWAGGER_METHOD=http

# OIDC (disabled)
OIDC_ENABLED=False
CREDENTIALS_ENABLED=True
OIDC_DISCOVERY_LINK=https://msi.realm.auth.crrs.cloud/auth/realms/cirrus/.well-known/openid-configuration
OIDC_CLIENT_ID=cirrus
OIDC_CLIENT_SECRET=PS763dt51BuIwHiTQ6z73HzkxIwJTowJ
OIDC_REDIRECT_URIS=http://localhost:10001/authentification/oidc/callback
OIDC_REDIRECT_LOGOUT_URIS=http://localhost:10001/authentification/oidc/callback/logout
PUBLIC_URL=http://localhost:10001

# SMASH STORAGE
STORAGE_CARRIER_SENDER_EMAIL=paulemile.vetu@pm.me
STORAGE_CARRIER_SENDER_NAME="noreply Odin by Caelus"
SMASH_STORAGE_CARRIER_IMAGE=registry.gitlab.com/caelus-team/application-cirrus/storage-carrier
SMASH_STORAGE_CARRIER_IMAGE_TAG=test-7
SMASH_STORAGE_CARRIER_API_KEY=none
SMASH_STORAGE_CARRIER_REGION=eu-west-3
SMASH_STORAGE_CARRIER_TEAMID=none

# ICON OF IMAGES 
MAX_CONTENT_SIZE=5mb