# GENERAL APP CONFIGURATION
APP_PORT=3000
APP_ADRESS=localhost
APP_ENVIRONMENT=local
APP_MODE=debug #debug or production
APP_TZ=Europe/Paris
APP_TOKEN_KEYPASS= # auto generated at startup if not set
APP_TOKEN_EXPIRATION_HOURS=24
USER_APPS_EXPIRATION_HOURS=6
USER_APPS_HOSTNAME=apps.getodin.cloud
TLS_FRONT_END_CIRRUS=app.preprod01.getodin.cloud
TLS_MS_API_CIRRUS=api.app.preprod01.getodin.cloud
  
# ICON OF IMAGES 
MAX_CONTENT_SIZE=5mb

# SWAGGER CONFIGURATION
SWAGGER_URL=localhost:10001
SWAGGER_METHOD=http

##
# EXTERNAL SERVICES CONFIGURATION
##
# Database (PSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=odin
DB_PASSWORD=odin
DB_DIALECT=postgres
DB_NAME=odin

# KAFKA CLUSTER
KAFKA_BROKER=broker:29092
KAFKA_TOPIC=upload-logs

# KONG - APPS INGRESS
APPS_INGRESS_ACTIVATED=False
APPS_INGRESS_URL=localhost:8001

# KUBERNETES
KUBERNETES_VOLUME_TYPE=Block
KUBERNETES_STORAGE_CLASSNAME=sbs-default # for block storage, sbs-default is the one provided by scaleway, for file storage, use sfs-default
KUBERNETES_ACTIVATED=false
KUBERNETES_URL=http://127.0.0.1:8080
KUBERNETES_TOKEN=
KUBERNETES_MASTER_IP= # for Load Balancer configuration
KUBERNETES_TOKEN_PATH=/var/run/secrets/kubernetes.io/serviceaccount/token
KUBERNETES_CA_CERT_PATH=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt

# MONGODB
MONGODB_ACTIVATED=True
MONGODB_URL=localhost:10008
MONGODB_USERNAME=odin
MONGODB_PASSWORD=odin
MONGODB_DB=odin_db

# SMASH STORAGE
STORAGE_CARRIER_SENDER_EMAIL=paulemile.vetu@pm.me
STORAGE_CARRIER_SENDER_NAME="noreply Odin by Caelus"
SMASH_STORAGE_CARRIER_IMAGE=registry.gitlab.com/caelus-team/application-cirrus/storage-carrier
SMASH_STORAGE_CARRIER_IMAGE_TAG=test-7
SMASH_STORAGE_CARRIER_API_KEY=none
SMASH_STORAGE_CARRIER_REGION=eu-west-3
SMASH_STORAGE_CARRIER_TEAMID=none

# REGISTRY
REGISTRY_URL=registry.gitlab.com
REGISTRY_USERNAME=odin
REGISTRY_PASSWORD=odin