node_modules/
log/
.scannerwork/
sonar-reports/
coverage/
.nyc_output/
.vscode
.crush
.env*
!.env.template

# IMAGES
images/img-*.png

# SOURCES
src/modules/mtls/ca.crt
src/modules/mtls/client.crt
src/modules/mtls/client.key
src/models/*.js